
body{
  color: black;
  background-color: #f6f6f7;
  font-family: 'Inter', sans-serif;
}

.header{
  margin: 1em;
}

.main-heading{
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -.15rem;
}

.sub-heading{
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -.1rem;
}

/* Margin Botton on Grid Items */
.col{
  margin-bottom: 1em;
}

input{
  border-radius: 10px;
  border: 1.5px solid #b1b1b1;
  padding: 8px;
}

.date-input{
  margin-bottom: 1em;
}

form .btn{
  font-size: 1.2rem;
  float: left;
}

form label{
  margin-top: 0.4em;
  margin-right: 1em;
  font-weight: bold;
  font-size: 1.2rem;
  float: left;
}

#nasa-card{
  border: none;
  color: black;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
  border: 1.5px solid #b1b1b1;
  height: 100%;
}

.card{
  border-radius: 7px;
}

.card-img-top {
  height: 25em;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

#cards{
  clear: left;
}

.card-text{
  font-size: 0.9rem;
}

footer{
  margin-top: 1em;
  margin-bottom: 1em;
}




@media (min-width: 768px) { 
/* Global Font Change */




}