/* General Adjustments */
body{
  color: black;
  background-color: #f6f6f7;
  font-family: 'Inter', sans-serif;
}
 
/* Main Header Spacing Adjustment */
.header{
  margin: 1em;
}

/* Gerneral Font Adjustments */
.main-heading{
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: -.1rem;
}

.sub-heading{
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: -.05rem;
}

/* Form Adjustments */

form .btn{
  margin-top: 1em;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

form label{
  margin-top: 0.4em;
  margin-right: 1em;
  font-weight: bold;
  font-size: 1rem;
}

form input{
  border-radius: 5px;
  border: 1.5px solid #b1b1b1;
  padding: 8px;
  width: 100%;
}

/* Grid Adjustments */
.row>* {
  padding: 0;
  margin-bottom: 1em;
}

.col{
  margin-right: 0;
  margin-left: 0;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  border: 1.5px solid #b1b1b1;
  height: 100%;
}

/* APOD Card Adjustments */
.card-container{
  margin-bottom: 2em;
  padding: 0;
}

/* Card Image */
.card-img-top {
  height: 25em;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* Card Title */
.card-title{
  font-size: 1rem;
}

/* Card Description */
.card-text{
  font-size: 0.875rem;
}

/* Like Button Styling */
.like-btn{
  color: white;
  font-size: 2.25em;
  border: none;
  background: none;
  margin-top: 0.5em;
  margin-left: 0.5em; 
  margin-right: auto;
  position: absolute;
}

/* Liked Button */
.liked button{
  color: #ffc107;
  animation-name: likedanim;
  animation-duration: 0.15s;
  animation-timing-function: linear;
}

/* Like Button Animation */
@keyframes likedanim {
  0%   { transform: scale(1);}
  50%  { transform: scale(1.2);}
  100% { transform: scale(1);}
}

/* Unliked Button Fade on Click */
.unliked button{
  transition: 0.2s
}

/* Footer Adjustments */
footer{
  margin-top: 1em;
  margin-bottom: 1em;
}


/* Tablet Adjustments */
@media (min-width: 768px) { 

  /* Form Adjustments */
  form .btn{
  width: 5em;
  }

  form input{
    width: 20em;
    display: block;
  }

  /* Grid Card Adjustments */
  .card-container{
    margin-bottom: 0;
    padding: 1em;
  }


}