
/* Global Font Change */
body{
  margin-left: 4em;
  margin-right: 4em;
  color: black;
  background-color: #f6f6f7;
  font-family: 'Inter', sans-serif;
}

.header{
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.main-heading{
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -.15rem;
}

.sub-heading{
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: -.1rem;
}

.col{
  margin-bottom: 3em;
}

#nasa-card{
  border: none;
  color: black;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.2);
  border: 1.5px solid #b1b1b1;
  height: 100%;
}

.card{
  border-radius: 7px;
}

.card-title{
  font-size: 1.2em;
}

.card-text{
  font-size: 0.9rem;
}

.card-img-top {
  height: 25em;
  object-fit: cover;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

input{
  border-radius: 10px;
  margin-right: 1em;
  border: 1.5px solid #b1b1b1;
  padding: 8px;
}


form{
  margin-left: auto;
  margin-right: auto;
}

form label{
  margin-right: 1em;
  font-weight: bold;
}

form .btn{
  font-size: 1.2rem;
}

footer{
margin-top: 1em;
}
